@font-face {
	font-family: "vollkorn";
	src: url('fonts\\vollkorn.ttf') format('truetype');
}

@font-face {
	font-family: "bitter";
	src: url('fonts\\bitter.ttf') format('truetype');
}

@font-face {
	font-family: "amiri";
	src: url('fonts\\amiri.ttf') format('truetype');
}

@font-face {
	font-family: "cormorant";
	src: url('fonts\\cormorant.otf') format('opentype');
}

@font-face {
	font-family: "Genia";
	src: url('fonts\\GeniaLight.ttf') format('truetype');
}

@font-face {
	font-family: "rikon";
	src: url('fonts\\rikon.otf') format('opentype');
}

@font-face {
	font-family: "lux";
	src: url('fonts\\Lux-Montag.ttf') format('truetype');
}

@font-face {
	font-family: "Baginda";
	src: url('fonts\\Baginda.ttf') format('truetype');
}

@font-face {
	font-family: "Arimo";
	src: url("fonts/Arimo.ttf") format("truetype");
}

@font-face {
	font-family: "Lucida Console";
	src: url("fonts/Lucida Console.ttf") format("truetype");
}

:root {
	font-size: 14px;
	--font-color: #787a90;
	--greyed-out: #acadb5;
	--visited-color: #5b5c70;
	--link-color: #787a90;
	--box-color: #f5f6f7;
	--link-size: 18px;
	--border-color: #d2d2d9;
	/* --panel-color: #ebecf0; */
	--panel-color: var(--box-color);
	--date-color: #b6bbd9;
}

body {
	/*font: Lucida Console*/
	font-family: "Lucida Console";
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	color: var(--font-color);
	background-color: #6295cc;
	background-image: url("imgs\\bg_6_min_2.jpg");
	background-repeat: repeat-y;
	background-size: 100% auto;
	padding: 0px 0px 0px 0px;
	margin: 0px;
}

a {
	text-decoration: underline;
	color: var(--link-color);
}

a:hover {
	/* text-decoration: none; */
}

a:visited {
	/* color: var(--visited-color); */
}

.remember:visited {
	color: var(--visited-color);
}

.bg {
	z-index: -1;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 200%;
	background-image: url("bg_2.jpg");
	background-repeat: repeat-y;
	background-size: 100% auto;
	padding: 0px 0px 0px 0px;
	margin: 0px;

	animation: fadeIn 5s;
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes button_highlight {
	0% {
	}
	100% {
		border: 3px groove #ffffff;
	}
}

h1 {
	font-weight: normal;
	margin: 0px;
	font-size: 2.1rem;
	line-height: 2.7rem;
}

h2 {
	font-size: 22px;
	font-weight: normal;
	margin: 0px;
	line-height: 2rem;
	margin: 0px;
}

p {
	line-height: 1.6em;
	margin: 0px 0px 0px 0px;
}

.greyed {
	color: var(--greyed-out);
}

ul {
	line-height: 1.8em;
}

hr {
	margin: 1.5rem 0 1.5rem 0;
	border: 1px solid #d3d3de;
}

.content-box {
	background: var(--box-color);
	width: 55rem;
	margin: 3rem auto 3rem auto;
	padding: 2.5rem 2.5rem 3.25rem 2.5rem;
	border: 2px solid var(--border-color);
	outline: 2px solid var(--box-color);
	box-shadow: 6px 10px 8px rgba(0,0,0,0.3);
}

.content-panel {
	height: 420px;
	width: 420px;
	background: var(--panel-color);
	margin: 2rem auto 2rem auto;
	outline: 2px solid rgba(150, 150, 180, 0.6);
	border: 2px solid var(--box-color);
	box-shadow: 3px 6px 10px 0 rgba(0,0,0,0.1);
	display: flex;
	flex-direction: column;
}

.content-panel:hover {
	cursor: pointer;
	outline: 2px solid rgba(150, 150, 180, 0.4);
	box-shadow: 0px 2px 2px 0 rgba(0,0,0,0.1);
	filter: brightness(101%);
}

.panel-image {
	height: 75%;
	background-color: #ddd;
	background-size: cover;
	background-position: center;
}

.panel-text {
	flex: 1 1 auto;
	padding: 1.5rem 1.5rem 2rem 1rem;
}

.panel-text-header {
	line-height: 1.3em;
	margin-bottom: 1rem;
}

.panel-text-header:hover {
	/* text-decoration: underline; */
}

.panel-icon-tray {
	text-decoration: none !important;
}

.tree {
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.tree:hover {
	cursor: pointer;
}

.footer {
	justify-content: center;
	align-items: center;
	height: 180px;
	position: relative;
	overflow: hidden;
}

#tree-1 {
	display: inline-block;
	margin-right: auto;
	width: 700px;
	height: auto;
	margin: 50px;
	position: relative;
	top: -20px;
	left: -100px;
}

#tree-2 {
	display: inline-block;
	margin-right: auto;
	width: 700px;
	height: auto;
	position: relative;
	top: -50px;
}

#tree-3 {
	display: inline-block;
	margin-right: auto;
	width: 550px;
	height: auto;
	position: relative;
	top: -120px;
}

.nav-skeleton {
	/* margin-left: -1.5rem; */
	/* background-color: black; */
	overflow: hidden;
	height: 1rem;
	display: flex;
}

.nav-item {
	display: flex;
	/* background-color: blue; */
	margin-right: 1rem;
	align-items: center;
}

.nav-icon {
	/* background-color: yellow; */
	margin-right: 0.7rem;
	width: 0.9rem;
	height: 0.9rem;
	display: inline-block;
	vertical-align: middle;
	transform: scale(0);
	/*
	background: url("rotate.png") 0 0 no-repeat;
	background-size: 100%;
	background-position: center;
	*/
	/*text-align: center;*/
}

#nav-img {
	/*
	display: inline-block;
	vertical-align: middle;*/
	margin: auto;
	width: 0.9rem;
}

.nav-text {
	/*background-color: blue;*/
}

#Index, #Blog, #Software, #Games, #Resume, #Photography {
	transform-origin: center center;
	user-select: none;
}

.link, .link-nonactive {
	/* text-decoration: none; */
	margin-left: -0.1rem;
	margin-right: 0.8rem;
}

.link:hover {
	/* text-decoration: underline; */
}

.link-nonactive {
	color: #616378;
}

span {
	line-height: 0.7rem;
	padding-top: 0.1rem;
}

#list {
	margin-top: 1.5rem;
}

.list-vert {
	/* width: 700px; */
	/* height: 700px; */
	display: flex;
	flex-direction: row;
	margin-top: 2rem;
	justify-content: space-evenly;
}

.list-item-vert {
	display: flex;
	flex-direction: column;
	height: 36rem;
	width: 14rem;
	outline: 2px solid rgba(150, 150, 180, 0.6);
	border: 2px solid var(--box-color);
	box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.1);
}

.list-item-vert:hover {
	box-shadow: 0px 2px 2px 0 rgba(0,0,0,0.1);
	outline: 2px solid rgba(150, 150, 180, 0.3);
	background-size: 103%;
	animation-name: item-hover;
	animation-duration: 0.1s;
}

.list-item-vert:not(:hover){
	outline: 2px solid rgba(150, 150, 180, 0.6);
	box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.1);
	background-size: 103%;
	animation-name: item-not-hover;
	animation-duration: 0.2s;
}

/* @keyframes item-hover-2 {
	from {
		outline: 2px solid rgba(150, 150, 180, 0.6);
		box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.1);
		background-size: 100%;
	}
	to {
		outline: 2px solid rgba(150, 150, 180, 0.3);
		box-shadow: 0px 2px 2px 0 rgba(0,0,0,0.1);
		background-size: 103%;
	}
}

@keyframes item-not-hover-2 {
	from {
		outline: 2px solid rgba(150, 150, 180, 0.2);
		box-shadow: 0px 2px 2px 0 rgba(0,0,0,0.1);
		background-size: 103%;
	}
	to {
		outline: 2px solid rgba(150, 150, 180, 0.6);
		box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.1);
		background-size: 100%;
	}
} */

.list-item-vert-text {
	color: var(--text-color) !important;
	text-decoration: none;
	padding: 2rem 2rem 2rem 1rem;
	position: relative;
}

.list-item-vert-text-2 {
	color: var(--text-color) !important;
	text-decoration: none;
	padding: 2rem 2rem 2rem 1rem;
	position: relative;
	height: 60px;
}

.list-item-vert-image-container {
	height: 400px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	background-position: center;
	background-size: cover;
}

.list-item-vert-image-container:hover {
	background-size: 102%;
	animation-name: zoom-in;
	animation-duration: 0.15s;
}

.list-item-vert-image-container:not(:hover) {
	background-size: 100%;
	animation-name: zoom-out;
	animation-duration: 0.15s;
}

/* .test-2 {
	width: 100px;
	height: 400px;
	background-image: linear-gradient(red, yellow);
} */

.list-item-vert-image {
	height: 100%;
}

.list-item-vert-desc {
	font-weight: normal;
	margin-top: 1rem;
	height: 3rem;
}

.list-item-vert-desc-2 {
	font-weight: normal;
	height: 60px;
}

.list-item {
	display: flex;
	height: 12.5rem;
	outline: 2px solid rgba(150, 150, 180, 0.6);
	border: 2px solid var(--box-color);
	box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.1);
	margin: 2.5rem auto 2.5rem auto;
}

.list-item:hover {
	box-shadow: 0px 2px 2px 0 rgba(0,0,0,0.1);
	outline: 2px solid rgba(150, 150, 180, 0.3);
	animation-name: item-hover;
	animation-duration: 0.1s;
}

.list-item:not(:hover){
	outline: 2px solid rgba(150, 150, 180, 0.6);
	box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.1);
	animation-name: item-not-hover;
	animation-duration: 0.2s;
}

@keyframes item-hover {
	from {
		outline: 2px solid rgba(150, 150, 180, 0.6);
		box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.1);
	}
	to {
		outline: 2px solid rgba(150, 150, 180, 0.3);
		box-shadow: 0px 2px 2px 0 rgba(0,0,0,0.1);
	}
}

@keyframes item-not-hover {
	from {
		outline: 2px solid rgba(150, 150, 180, 0.2);
		box-shadow: 0px 2px 2px 0 rgba(0,0,0,0.1);
	}
	to {
		outline: 2px solid rgba(150, 150, 180, 0.6);
		box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.1);
	}
}

.list-item-text {
	width: 70%;
	/* color: #616378 !important; */
	color: var(--text-color) !important;
	text-decoration: none;
	padding: 1.5rem 2rem 2rem 1rem;
	/* 	paddi1.5rem 1.5rem 2rem 1rem;
 */
	position: relative;
}

.list-item-text:hover {
	/* text-decoration: underline; */
	text-decoration: none !important;
}

.list-item-title {
	margin: -0.1rem 0 0.75rem 0;
	/* text-decoration: underline; */
}

.list-item-desc {
	font-weight: normal;
	margin-top: 0.8rem;
	height: auto;
}

.list-item-image-container {
	width: 40%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	background-size: cover;
	background-position: center;
	align-items: center;
}

.list-item-image {
}

.list-item-date {
	margin-top: 0.2rem;
	position: absolute;
	bottom: 1rem;
	color: var(--date-color);
}

.block-with-text {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 3.6em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}

.block-with-text-2 {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 2.4em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}


.block-with-text:before {
  content: '...';
  position: absolute;
  right: -10px;
  bottom: 0;
}

.block-with-text:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: #f5f5f7;
}

.square-label {
	color: var(--font-color) !important;
	font-weight: normal;
	font-size: 1.75rem;
	text-decoration: none;
}

.square-label:hover {
	text-decoration: underline;
}

.content-square {
	position: relative;
	width: 21rem;
	height: 21rem;
	border-radius: 16px;
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.5);
	background-size: cover;
	background-position: center center;
	overflow: clip;
}

.content-square:hover {
	cursor: pointer;
	box-shadow: 0 6px 6px 0 rgba(0,0,0,0.3);
	animation-name: zoom-in;
	animation-duration: 0.2s;
	background-size: 110%;
}

.content-square:not(:hover) {
	animation-name: zoom-out;
	animation-duration: 0.2s;
}

.content-square:active {
	box-shadow: 0 6px 6px 0 rgba(0,0,0,0);
}

@keyframes zoom-in {
	from {
		background-size: 100%;
	}
	to {
		background-size: 102%;
	}
}

@keyframes zoom-out {
	from {
		background-size: 102%;
	}
	to {
		background-size: 100%;
	}
}

.content-square-text {
	height: 6.5rem;
	position: absolute;
	bottom: 2rem;
	left: 0.8rem;
}

.content-square-title {
	color: #f5f5f7;
	font-size: 1.4rem;
	line-height: 1.8rem;
}

.content-square-date {
	color: #d4d4d6;
	font-weight: bold;
	margin-top: 0.6rem;
	font-size: 0.9rem;
}

#face {
	font-size: 1rem;
	user-select: none;
}

#face:hover {
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

.svg-icon {
	width: 2rem;
	height: 2rem;
	opacity: 30%;
	margin: 0;
}

.svg-icon:hover {
	cursor: pointer;
	opacity: 90%;
	animation-name: icon-hover;
	animation-duration: 0.2s;
}

.gallery {
	display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
	margin-top: 2rem;
}

.gallery-image-link {
	width: calc(50% - 6px);
	margin: 3px;
}

.gallery-image {
	width: 100%;
}

.a:hover {
	cursor: pointer;
	text-decoration: underline;
}

.col {
	flex: 40%;
	padding: 0 4px;
}

.col img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@keyframes icon-hover {
	from {
		opacity: 30%;
	}
	to {
		opacity: 90%;
	}
}

.my-links {
	margin-top: 1rem;
	padding: 0;
}

.hidden {
	opacity: 0;
	transform: translateY(150%);
	transition: opacity 0.6s, transform 0.5s cubic-bezier(0,1,.3,1);
}

.show {
	opacity: 1;
	transform: translateY(0);
}

.hidden-hor {
	opacity: 0;
	transform: translateX(100%);
	transition: opacity 1.2s, transform 0.6s cubic-bezier(0,1,.3,1);
}

.show-hor {
	opacity: 1;
	transform: translateX(0);
}

.expand {
	background-size: 104% auto;
	transition: all 0.15s;
}

.contract {
	background-size: 100% auto;
	transition: all 0.3s;
}
