@font-face {
	font-family: "vollkorn";
	src: url('fonts\\vollkorn.ttf') format('truetype');
}

@font-face {
	font-family: "bitter";
	src: url('fonts\\bitter.ttf') format('truetype');
}

@font-face {
	font-family: "amiri";
	src: url('fonts\\amiri.ttf') format('truetype');
}

@font-face {
	font-family: "cormorant";
	src: url('fonts\\cormorant.otf') format('opentype');
}

@font-face {
	font-family: "Genia";
	src: url('fonts\\GeniaLight.ttf') format('truetype');
}

@font-face {
	font-family: "rikon";
	src: url('fonts\\rikon.otf') format('opentype');
}

@font-face {
	font-family: "lux";
	src: url('fonts\\Lux-Montag.ttf') format('truetype');
}

@font-face {
	font-family: "Baginda";
	src: url('fonts\\Baginda.ttf') format('truetype');
}

body {
	/*font: Lucida Console*/
	font-family: "Lucida Console";
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	color: #272833;
	background-image: url("imgs\\bg_6_min_2.jpg");
	background-repeat: repeat-y;
	background-size: 100% auto;
	padding: 0px 0px 0px 0px;
	margin: 0px;
}

.bg {
	z-index: -1;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 200%;
	background-image: url("bg_2.jpg");
	background-repeat: repeat-y;
	background-size: 100% auto;
	padding: 0px 0px 0px 0px;
	margin: 0px;

	animation: fadeIn 5s;
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes button_highlight {
	0% {
	}
	100% {
		border: 3px groove #ffffff;
	}
}

h1 {
	font-weight: normal;
	color: #616378;
	margin: 0px;
	font-size: 2.5rem;
}

p {
	line-height: 1.5em;
	color: #616378; 
	margin: 0px 0px 0px 0px;	
}

.content-box {
	background: #f5f5f7;
	max-width: 950px;
	margin: 50px auto 50px auto;
	padding: 50px;
	border: 3px groove #afc8ed;
	box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
}

.nav-buttons {
	margin-left: auto;
	margin-right: auto;
	margin-top: 24px;
	width: calc(1000px + 64px);
	padding: 0px 0px 0px 0px;
	display: flex;
}

.nav-button {
	background: #f5f5f7;
	font-size: 17px;
	color: #616378; 
	width: calc(60% / 2);
	padding: 12px;
	text-align: left;
	border: 3px groove #afc8ed;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	margin-top: 24px;
}

.nav-button:hover {
	cursor: pointer;
	animation: button_highlight 0s;
	animation-fill-mode: forwards;
}

.nav-button:active {
	background: #dfdfe8;
	color: #9fa1b3; 
}

.nav-links {
	overflow: hidden;
	margin-top: 10px;
	height: 1.2em;
}

.tree {
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.tree:hover {
	cursor: pointer;
}

.footer {
	justify-content: center;
	align-items: center;
	height: 180px;
	position: relative;
	overflow: hidden;
}

#tree-1 {
	display: inline-block;
	margin-right: auto;
	width: 700px;
	height: auto;
	margin: 150px;
	position: relative;
	top: -130px;
	left: -100px;
}

#tree-2 {
	display: inline-block;
	margin-right: auto;
	width: 700px;
	height: auto;
	position: relative;
	top: -250px;
}

#tree-3 {
	display: inline-block;
	margin-right: auto;
	width: 550px;
	height: auto;
	position: relative;
	top: -120px;
}

#Index, #Blog, #Software, #Games, #CV, #Photography {
	width: 0.4rem;
	display: inline-block;
	margin-right: 0rem;
}

.link, .link-nonactive {
	margin-left: 0.2rem;
	margin-right: 0.7rem;
}

span {
	line-height: 1em;
}

#software-list {
	margin-top: 2rem;
}

.software-list-item {
	display: flex;
	height: 12rem;
	border: 3px groove rgba(175, 200, 237, 0.9);
	box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
	margin-bottom: 2rem;
}

.software-list-item:hover {
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4);
}

.software-list-item-text {
	color: #616378;
	text-decoration: none;
	width: 70%;
	padding: 1.5rem;
	position: relative;
}

.software-list-item-text:hover {
	text-decoration: underline;
}

.software-list-item-title {
	font-weight: normal;
	font-size: 1.7rem;
	margin: rem 0 0.5rem 0;
	color: #616378;
}

.software-list-item-desc {
	font-weight: normal;
	margin-top: 0.8rem;
	height: auto;
}

.software-list-item-image {
	width: 300px;
	margin-left: 5%;
}

.software-list-item-date {
	font-weight: bold;
	margin-top: 0.2rem;
	font-size: 0.9rem;
	position: absolute;
	bottom: 1rem;
	color: #989cb8;
}


#blog-list {
	margin-top: 2rem;
}

.blog-list-item {
	display: flex;
	height: 12rem;
	border: 3px groove rgba(175, 200, 237, 0.9);
	box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
	margin-bottom: 2rem;
}

.blog-list-item:hover {
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4);
}

.blog-list-item-text {
	width: 73%;
	position: relative;
	color: #616378;
	text-decoration: none;
	padding: 1.5rem;
}

.blog-list-item-text:hover {
	text-decoration: underline;
}

.blog-list-item-title {
	font-weight: normal;
	font-size: 1.7rem;
	line-height: 110%;
	margin: -0.1rem 0 0.5rem 0;
}

#blog-list-item-desc {
	font-weight: normal;
	margin-top: 0.8rem;
	height: auto;
}

.blog-list-item-image {
	width: 200px;
	margin-left: 3%;
	margin-right: 0;
	height: auto;	
}

.blog-list-item-date {
	font-weight: bold;
	margin-top: 0.2rem;
	font-size: 0.9rem;
	position: absolute;
	bottom: 1rem;
	color: #989cb8;
}

#game-list {
	margin-top: 2rem;
}

.game-list-item {
	display: flex;
	height: 12rem;
	border: 3px groove rgba(175, 200, 237, 0.9);
	box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
	margin-bottom: 2rem;
}

.game-list-item:hover {
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4);
}

.game-list-item-text {
	width: 73%;
	position: relative;
	color: #616378;
	text-decoration: none;
	padding: 1.5rem;
}

.game-list-item-text:hover {
	text-decoration: underline;
}

.game-list-item-title {
	font-weight: normal;
	font-size: 1.7rem;
	line-height: 110%;
	margin: -0.1rem 0 0.5rem 0;
}

#game-list-item-desc {
	font-weight: normal;
	margin-top: 0.8rem;
	height: auto;
}

.game-list-item-image {
	width: 200px;
	margin-left: 3%;
	margin-right: 0;
	height: auto;	
}

.game-list-item-date {
	font-weight: bold;
	margin-top: 0.2rem;
	font-size: 0.9rem;
	position: absolute;
	bottom: 1rem;
	color: #989cb8;
}

.block-with-text {
  overflow: hidden;
  position: relative; 
  line-height: 1.2em;
  max-height: 3.6em; 
  text-align: justify;  
  margin-right: -1em;
  padding-right: 1em;
}

.block-with-text:before {
  content: '...';
  position: absolute;
  right: -10px;
  bottom: 0;
}

.block-with-text:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}

.square-label {
	color: #616378;
	font-weight: normal;
	font-size: 2rem;
	text-decoration: none;
}

.square-label:hover {
	text-decoration: underline;
}

.content-square-1 {
	position: relative;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.6) 100%), url("imgs\\blog_1_square.jpg");
	width: 24rem;
	height: 24rem;
	border-radius: 20px;
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.5);
	background-size: cover;
	background-position: center center;
	overflow: clip;
}

.content-square-1:hover {
	cursor: pointer;
	/*
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8) 100%), url("imgs\\blog_1_square.jpg");
	*/
	box-shadow: 0 6px 6px 0 rgba(0,0,0,0.3);
	animation-name: zoom-in;
	animation-duration: 0.2s;
	background-size: 110%;
}

.content-square-2 {
	position: relative;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.6) 100%), url("imgs\\pfj_square_2.jpg");
	width: 24rem;
	height: 24rem;
	border-radius: 20px;
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.5);
	background-size: cover;
	background-position: center center;
	overflow: clip;
}

.content-square-2:hover {
	cursor: pointer;
	/*
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.8) 100%), url("imgs\\pfj_square_2.jpg");
	*/
	box-shadow: 0 6px 6px 0 rgba(0,0,0,0.3);
	animation-name: zoom-in;
	animation-duration: 0.2s;
	background-size: 110%;
}


.content-square-1:not(:hover), .content-square-2:not(:hover) {
	animation-name: zoom-out;
	animation-duration: 0.2s;
}

.content-square-1:active, .content-square-2:active {
	box-shadow: 0 6px 6px 0 rgba(0,0,0,0);
}

@keyframes zoom-in {
	from {
		background-size: 100%;
	}
	to {
		background-size: 110%;
	}
}

@keyframes zoom-out {
	from {
		background-size: 110%;
	}
	to {
		background-size: 100%;
	}
}

.content-square-text {
	height: 6.5rem;
	position: absolute;
	bottom: 2rem;
	left: 0.8rem;
}

.content-square-title {
	color: #f5f5f7;
	font-size: 1.4rem;
	line-height: 1.8rem;
}

.content-square-date {
	color: #d4d4d6;
	font-weight: bold;
	margin-top: 0.6rem;
	font-size: 0.9rem;
}

#face {
	font-size: 1rem;
	user-select: none;
}

#face:hover {
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

.svg-icon {
	width: 2rem;
	height: 2rem;
	opacity: 30%;
	margin: 0;
}

.svg-icon:hover {
	cursor: pointer;
	opacity: 90%;
	animation-name: icon-hover;
	animation-duration: 0.2s;
}

@keyframes icon-hover {
	from {
		opacity: 30%;
	}
	to {
		opacity: 90%;
	}
}

.my-links {
	margin-top: 1rem;
	padding: 0;
}